<div class="container" style="margin-left:0%">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">

        <div class="card-body" *ngIf="!mobile_flag">
          <div class="imgcontainer">
            <img src="./assets/images/logo1.png" alt="KVB" class="login1">
          </div>
          <span *ngIf="Url==='https://e-memo-be.kvbank.in/'">
            <h5 class="card-title text-center">Sign In</h5>
          </span>
          <span *ngIf="Url==='https://emc-memo-be-uat.kvbank.in/'">
            <h5 class="card-title text-center">Sign In - MEMO UAT</h5>
          </span>
          <span *ngIf="Url==='http://143.110.244.51:8000/'">
            <h6 class="card-title text-center">Sign In- UAT</h6> 
          </span> 
          <span *ngIf="Url==='https://emc-memo-be-sit.kvbank.in/'">
            <h5 class="card-title text-center">Sign In - MEMO SIT</h5>
          </span>
          <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
            <div class="form-label-group">
              <input type="text" id="username" class="form-control" autocomplete="off" name="username"
                placeholder="username" formControlName="username">
            </div>
            <div class="form-label-group">
              <input type="password" id="password" class="form-control" autocomplete="off" name="login"
                formControlName="password" placeholder="password">
            </div>
            <!-- <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Remember passworrd</label>
      </div> -->
            <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="login">
          </form>


        </div>

        <div class="card-body" *ngIf="mobile_flag">
          <h6 class="card-title text-center" *ngIf="otp_flag">Please verify your mobile number
          </h6>
          <form [formGroup]="mobile_form" class="login-container" (ngSubmit)="mobilelogin()">
            <div *ngIf="otp_flag"class="form-label-group">Mobile Number
              <input  type="hidden" id="mobile" class="form-control" autocomplete="off" name="Mobile "
                placeholder="Number" formControlName="mobile_number" [readonly] ="true">
                <input  id="mobile" class="form-control" autocomplete="off" name="Mobile "
                placeholder="Number" formControlName="mobile_num" [readonly] ="true">
            
                <!-- <p>*******{{mobile_num}}</p> -->
            </div>
            <p *ngIf="otp_flag">Please enter the 8-digit verification <br/>
              code we sent via SMS:(we want to make sure it's you before Login)</p>
            <div *ngIf="otp_flag" class="form-label-group">  OTP
              <input type="password" id="password" class="form-control" autocomplete="off" name="login"
                formControlName="otp" placeholder="">
            </div>
            <p >Did not Recieve in {{count}}s? </p>
            <p *ngIf="count==0" style="text-align: right; color: blue;" (click)="gen_otp()" > <a >Resend OTP</a></p>
            <!-- <input *ngIf="!otp_flag" type="button" class="btn btn-lg btn-primary btn-block text-uppercase"
              (click)="gen_otp()" value="SEND OTP"> -->
            <!-- <input *ngIf="otp_flag" type="button" class="btn btn-sm btn-primary btn-block text-uppercase"
              (click)="gen_otp()" value="RESEND OTP"> -->
            <input *ngIf="otp_flag" type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="verify">

          </form>


        </div>




      </div>
    </div>

  </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <h2 style="text-align: center;" class="fixed-bottom">v<b>3.11</b></h2>

</div>
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen] = "true" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner> -->