<div class='container'>
  <h2>Provision Maker</h2>

  <div class='col-md-12'>
    <form [formGroup]="provisionadd" (ngSubmit)="createprovision()">
      <div class=" row col-md-12 ">
        <!-- <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input class="toolbar-search" type="text" matInput autocomplete="off" formControlName="cr_number" required>
            <mat-placeholder>CR Number</mat-placeholder>
          </mat-form-field>
        </div> -->
        <div class="col-md-3">
          <mat-form-field  class="example-full-width" >
            <mat-label>Main cat</mat-label>
            <input type="text" placeholder="Main cat"  #category_id #cat (click)="catget()"
        
            aria-label="Number"  matInput formControlName='category_id'
              [matAutocomplete]="auto2" required>
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFncat">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let p of maincatdata "  (focusout)="catid_get(p.id)"[value]="p">
                {{p.name}}
              </mat-option></ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-3" >
          <mat-form-field  class="example-full-width">
            <mat-label>Sub cat</mat-label>
            <input type="text" placeholder="Sub cat" #sub #subcategory_id (click)="subcatget()"
        
            aria-label="Number"  matInput formControlName='subcategory_id'required
              [matAutocomplete]="auto3">
            <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFnsub">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let p of subcatdata "  (focusout)="glget(p)"   [value]="p">
                {{p.name}}
              </mat-option></ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input class="toolbar-search" type="text" required matInput autocomplete="off" [readOnly]='true' formControlName="gl_id">
            <mat-placeholder>GL</mat-placeholder>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" >
            <mat-label>BS</mat-label>
            <input type="text" placeholder="BS" #bs #bs_id (click)="bsget()"
        
            aria-label="Number"  matInput formControlName='bs_id' required
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnbs">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">

              <mat-option *ngFor="let p of bsdata "  (focusout)="bsid_cc(p.id)"[value]="p">
                {{p.name}}
              </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field  class="example-full-width">
            <mat-label>CC</mat-label>
            <input type="text" placeholder="CC" #cc #cc_id (click)="ccget()"
            
            aria-label="Number"  matInput formControlName='cc_id' required
              [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFncc">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let p of ccdata"  [value]="p">
                      {{p.name}}
                  </mat-option>
                  </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div> 
        <div class="col-md-3">
          <mat-form-field>
              <mat-label>Expense Month</mat-label>
              <input matInput [matDatepicker]="excemfrom" formControlName="expense_date" [max]="tomorrow" required>
              <mat-datepicker-toggle matSuffix [for]="excemfrom"></mat-datepicker-toggle>
              <mat-datepicker #excemfrom disabled="false"></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input class="toolbar-search" type="text" matInput autocomplete="off" formControlName="invoice_no" required>
            <mat-placeholder>Invoice Number</mat-placeholder>
          </mat-form-field>
        </div> 
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input class="toolbar-search" type="date" matInput autocomplete="off"  [max]="tomorrow" formControlName="invoice_date" required>
            <mat-placeholder>Invoice Date</mat-placeholder>
          </mat-form-field>
<!-- 
          <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [max]="tomorrow">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
        </div>  
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input class="toolbar-search" type="text" matInput autocomplete="off" formControlName="narration" required>
          <mat-placeholder>Description</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field  class="example-full-width">
          <mat-label>vendor</mat-label>
          <input type="text" placeholder="Vendor" (click)="vendorget()"
          
          aria-label="Number"  matInput formControlName='vendor_id' required
            [matAutocomplete]="autov">
          <mat-autocomplete #autov="matAutocomplete" [displayWith]="displayFnvendor">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let p of vendordata"  [value]="p">
                    {{p.name}}
                </mat-option>
                </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div> 
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input class="toolbar-search" type="text" matInput autocomplete="off" required formControlName="branch_id">
          <mat-placeholder>Branch</mat-placeholder>
        </mat-form-field>
      </div>
      
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input class="toolbar-search" type="text" matInput autocomplete="off" required formControlName="amount">
          <mat-placeholder>Amount</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input class="toolbar-search" type="text" matInput autocomplete="off" required  formControlName="gst_amount">
          <mat-placeholder>Gst Amount</mat-placeholder>
        </mat-form-field>
      </div>
      
      <div class="col-sm-3" style="font-size: small;text-align: left;">
        <button class="btn btn-outline-primary" type="button" [routerLink]='"/provision"' skipLocationChange
            style="border-radius:40px;margin-left: 15px;margin-top: 17px;" color="primary">cancel</button>
            <button type="submit" style="border-radius:40px;margin-left: 15px;margin-top: 17px;"
            class="btn btn-outline-primary">Submit</button>
    </div>
    
      </div>

</form>
  </div>
</div>