<div class='container'>
  <h2>Delmatmaker Maker</h2>
  

  <div class='col-md-12'>
    <form [formGroup]="delmat" (ngSubmit)="delmatadd()">
      
      <div class=" row col-md-12 ">

        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>BS</mat-label>
            <input type="text" placeholder="BS" #bs #bs_id (click)="bsget()" aria-label="Number" matInput
              formControlName='bs_id' required [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnbs">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">

                <mat-option *ngFor="let p of bsdata " (focusout)="bsid_cc(p.id)"  [value]="p">
                  {{p.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field  class="example-full-width">
            <mat-label>CC</mat-label>
            <input type="text" placeholder="CC" #cc #cc_id (click)="ccget()"
            
            aria-label="Number"  matInput formControlName='cc_id' required
              [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFncc">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let p of ccdata"  [value]="p">
                      {{p.name}}
                  </mat-option>
                  </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field (click)="rmname()">
            <mat-label>Employee</mat-label>
            <input #rmInput placeholder="Select " matInput formControlName="employee_id" [matAutocomplete]="rmemp">
            <mat-autocomplete #rmemp="matAutocomplete" [displayWith]="displayFnRm">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let employee of employeeList" [value]="employee">
                  {{employee.full_name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>


        </div>
 
        <!-- <div class="col-md-3">
          <mat-form-field  class="example-full-width">
            <mat-label>Employee</mat-label>
            <input type="text" placeholder="Vendor" (click)="vendorget()"
            
            aria-label="Number"  matInput formControlName='vendor_id' required
              [matAutocomplete]="autov">
            <mat-autocomplete #autov="matAutocomplete" [displayWith]="displayFnvendor">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let p of vendordata"  [value]="p">
                      {{p.name}}
                  </mat-option>
                  </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>  -->

<!-- 
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input class="toolbar-search" type="text" matInput autocomplete="off" required formControlName="limit">
            <mat-placeholder>Limit</mat-placeholder>
          </mat-form-field>
        </div> -->
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input class="toolbar-search" type="text" matInput autocomplete="off" required formControlName="remarks">
            <mat-placeholder>Remarks</mat-placeholder>
          </mat-form-field>
        </div>


        <div class="col-sm-3" style="font-size: small;text-align: left;">
          <button class="btn btn-outline-primary" type="button"   [routerLink]='"/delmat"' skipLocationChange
            style="border-radius:40px;margin-left: 15px;margin-top: 17px;" color="primary">cancel</button>

            
          <button type="submit" style="border-radius:40px;margin-left: 15px;margin-top: 17px;"
            class="btn btn-outline-primary">Submit</button>
        </div>

      </div>

    </form>
  </div>
</div>