body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #DDEFDD;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .count{
    cursor: pointer;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    margin-left: 12rem;
  }
  
  @media screen and (max-height: 800px) {
    .sidenav {padding-top: 1px;}
    .sidenav a {font-size: 18px;}
  }
  
  .sideNav-title{
    margin-left: 12px;
  }
  .fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    margin-left: 21px;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
  }
  .cursor{
    cursor: pointer;
  }
  th, td{
    text-align:center;
    font-size: 13px;
  }
  .point{
  font-size: 12px;
  color: red;
  
  }