.mon-1 {
  background:#aed5f7e0;
}

.mon-2 {
  background:hsla(208, 76%, 61%, 0.251);
}

.mon-3 {
  background:#f5aeef40;
}

.mon-4 {
  background: #b95bb140;
}

.mon-5 {
  background: #6b146440;
}
.mon-6 {
  background: #48054340;
}
.mon-7 {
  background:#08010840;
}
.mon-8 {
  background: #fc906f40;
}
.mon-9 {
  background: #fae6fa;
}

.mon-10 {
  background:hsla(282, 76%, 84%, 0.251);
}
.mon-11 {
  background: hsla(69, 77%, 76%, 0.829);
}
.mon-12 {
  background: hsl(313, 59%, 82%);
}


p {
  font-family: Lato;
  padding: 10px 0;
}

.container {
  overflow: hidden;
}

table tr {
  white-space: nowrap !important
}
.container{
  cursor: pointer!important;
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

::ng-deep .date-picker .mat-calendar-period-button { display: none!important }
.date-picker .mat-calendar-period-button { display: none!important}
// .test_btn:hover{
//   background-color: white;
// }

// .button:focus {
//   outline: none !important;
// }



// input[type="file"] {
//   font-size: 100px;
//   left: 0;
//   opacity: 0;
//   position: absolute;
//   top: 0;
// }
.container{
  font-size: 14px !important;
}
.mat-tooltip {
  overflow: visible !important;
  min-width: 100% !important;
  width: 100% !important;
}

.inputsize{
  width: 100px;
}
.leftmargin{
  margin-left: 30px;
}


.rightSide{
  float: right;
}











