.checker{
    color:#3da799;
}
.approver{
    color: sandybrown;
}
.maker{
    color:royalblue;
}
p {
    font-family: Lato;
    padding: 10px 0;
  }

  table tr{
    white-space: nowrap !important
  }
  